<!-- source: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_dropdown_navbar -->

  <div class="sorting">
    <button class="sort-button">Sort By
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="sort-dropdown">
      <a href="books?sort=a_title"     >Title: A-Z</a>
      <a href="books?sort=z_title"     >Title: Z-A</a>
      <a href="books?sort=high_rating" >Highest Rated</a>
      <a href="books?sort=low_rating"  >Lowest Rated</a>
      <a href="books?sort=high_count"  >Most Rated</a>
      <a href="books?sort=low_count"   >Least Rated</a>
      <a href="books?sort=high_pages"  >Most Pages</a>
      <a href="books?sort=low_pages"   >Least Pages</a>
    </div>
  </div>
