
<div id='book-stats'>

  <div id="stats-triplets">
    <span class='triplet' id='top-books'>
        <p>Best Books:</p>
        <span class='top'>
          <% @top3.each do |book| %>
            <span class='stat-triplet'>
              <%= link_to "#{book.title}", book_path(book), method: :get %>
            </span>
          <% end %>
        </span>
    </span>

    <span class='triplet' id='worst-books'>
      <p>Worst Books:</p>
      <span class='top'>
        <% @low3.each do |book| %>
          <span class='stat-triplet'>
            <%= link_to "#{book.title}", book_path(book), method: :get %>
          </span>
      <% end %>
      </span>
    </span>



    <span class='triplet' id='best-users'>
      <p>Top Reviewers:</p>
      <span class='top'>
        <% @top_revs.each do |reviewer| %>
          <span class='stat-triplet'>
            <%= link_to "#{reviewer.name}", user_path(reviewer), method: :get %>
          </span>
        <% end %>
      </span>
    </span>
  </div>


  <%= link_to "New Book", new_book_path, id: "add-new-book" %>

</div>
