
<div id='book-stats'>


  <div>
    <span id='top-books'>
        <p>Best Books:</p>
        <% @top3.each do |book| %>
          <span class='stat-triplet'>
            <% id = book.id %>
            <a href= <%= "/books/#{id}" %> ><%= book.title %></a>
          </span>
        <% end %>
    </span>


    <span id='worst-books'>
      <p>Worst Books:</p>
      <% @low3.each do |book| %>
        <span class='stat-triplet'>
          <% id = book.id %>
          <a href= <%= "/books/#{id}" %> ><%= book.title %></a>
        </span>
      <% end %>
    </span>



    <span id='best-users'>
      <p>Top Reviewers:</p>
      <!-- No User Sort Methods Yet -->
    </span>
  </div>
  <a id='add-new-book' href="/books/new">New Book</a>



</div>
