<h1> <%= @user.name %> </h1>
<div class="sorting">
   <div class="sort-dropdown">
     <a href=<%="/users/#{params[:id]}?sort=oldest"%>>Oldest</a>
     <a href=<%="/users/#{params[:id]}?sort=newest"%>>Newest</a>
   </div>
 </div>

  <%= render "components/review" %>

<!-- We need to work this into the component above -->
<!-- < % = link_to 'Delete', user_path(@user), :method => :destroy % > -->
